<%- include partials/header -%>
    <!-- Section 2: About me -->
    <div class="container">
        <section id="about-me">
          <div class="column-2">
            <h1>About me</h1>
            <p>
              I work as a Front-End Developer Jr -apprentice- for a digital
              solutions company based in California. I'm fascinated with UI and
              obsessed with excellent user experience.
            </p>
            <p>
              I place special effort in everything that I do, from studying to
              developping software. If I could describe myself with one word, it
              would be ownership. I work in every project as hard as I can, as if
              that project was for my own company. You can rest assure that my
              skills and my strive to the best will leave you wanting for more!
            </p>
          </div>
        </section>
        <section id="my-face">
          <div class="column-2 large-profile"></div>
        </section>
      </div>
      <section class="resume">
        <button type="button" class="btn btn-warning">
          <a href="Reinoldo Caceres - Resume.pdf" class="file" download="newfilename">Download my resume</a>
        </button>
      </section>
<%- include partials/footer -%>