<%- include partials/header -%>
    <!-- welcome message section -->
    <section id="welcome-message" class="d-flex h-100 text-center text-dark">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
        <main class="px-3">
          <h1>Welcome to my Personal Portfolio site</h1>
          <p class="lead">Highly motivated and enthusiastic developer with strong communication and writing skills, as well as teamwork and leadership abilities.</p>
          <p class="lead">I've worked with and developed a variety of languages and technologies. </p>
        </main>
    </section>

    <!-- mission statement section -->
    <section id="mission-statement" class=" h-100 text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
          <h1>Mission Statement</h1>
          <p class="lead">Always pushing the limits with creativity innovation and a strong ownership.</p>
        </main>
      </div>
    </section>
<%- include partials/footer -%>
