<%- include partials/header -%>
<section id="services">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">These are my Services</h1>
          <p class="lead">I will be offering full stack services soon</p>
          <hr>
          <br>

          <h2>These are the technologies that I am currently working with:</h2>
        </div>
      </div>
      <br>
      <hr>


      <!-- comment -->
      <div class="row">
        <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top" src="images/mongo-logo.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">MongoDB</h5>
                  <p class="card-text">Excellent for building scalable, structured or unstructured data with a JSON-like format. </p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 first-card" style="width: 18rem">
          <div class="card">
            <img class="card-img-top" src="images/express-logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Express JS</h5>
                <p class="card-text">This is the toold that I use to create server-side web applications. It is used to create server side applications in an easy and fast way, specially for you.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top react-img" src="images/react-logo.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">React JS</h5>
                  <p class="card-text">With this, the application's web interface is simple to create and update; it loads rapidly and responds to user actions. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top" src="images/node-logo.webp" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Node JS</h5>
                  <p class="card-text">In simple terms, if you need a backend solution, Node JS is the go to for it. It does not matter how challenging or easy the taks is, Node JS is the best.</p>
              </div>
            </div>
          </div>
      </div>
</section>
<%- include partials/footer -%>
